.title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    width: 100%;
    background-color: lightgray;
}

.input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.input-container .search {
    margin-right: 8px;
}

.list {
    text-align: center;
}